.box{
    margin-top: 7.0rem;
    margin-left: 7.0rem;
}
label{
    padding: 1.0rem;
    
}
input{
    width: 50%;
    margin-top:1.0rem;
    margin-bottom:1.0rem;
    height: 3.0rem;
}
button{
    margin-left: 1.0rem;
    width: 45%;
    background-color: black;
    color: white;
    height: 3.0rem;
    border-radius: 1rem;
    cursor: pointer;
}