@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');


.main
{
    /* background-color: #703f37; */
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 35rem; */
    padding-top: 80px;
    padding-bottom: 50px;
}


.mainintro
{
    
    color: rgba(255, 255, 255, 0.637);
    margin: 0;
    font-size: 4.0rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    text-align: center;
   

}
.aboutbtn{ 
    color: rgba(255, 255, 255, 0.637);
    background-color: transparent;
    border: none;
    font-size: 2rem;
}


.aboutdata{
    color: rgba(255, 255, 255, 0.673);
    margin: 0;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    /* text-align: center; */
    font-weight: bolder;
    /* background-color: #703f37; */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* -----------------------------------card */

.card {
    /* width: 320px; */
    background: #232323;
    color: rgb(255, 255, 255);
    position: relative;
    border-radius: 2.5em;
    padding: 2em;
    transition: transform 0.4s ease;
  }
  
  .card .cardcontent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5em;
    height: 100%;
    transition: transform 0.4s ease;
  }
  
  .card .cardtop, .card .cardbottom {
    display: flex;
    justify-content: space-between;
  }
  
  .card .cardtop p, .card .cardtop .cardtitle, .card .cardbottom p, .card .cardbottom .card-title {
    margin: 0;
  }
  
  .card .cardtitle {
    font-weight: bold;
  }
  
  .card .cardtop p, .card .cardbottom p {
    font-weight: 600;
  }
  
  .card .cardbottom {
    align-items: flex-end;
  }
  
  .card .cardimage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    pointer-events: none;
  }
  
  .card .cardimage svg {
    width: 4em;
    height: 4em;
    transition: transform 0.4s ease;
  }
  
  .card:hover {
    cursor: pointer;
    transform: scale(0.97);
  }
  
  .card:hover .cardcontent {
    transform: scale(0.96);
  }
  
  .card:hover .cardimage svg {
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.9);
  }