@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    overflow-y: hidden;

}
.main
{
    margin: 0%;
    /* background: url('../images/backblack.jpg'); */
    background-image: linear-gradient(to right,#000000,#434343);
    height: 100vh;
    background-size: cover;
    width: 100%;
    font-size: 62.5%;
    overflow-y: hidden;
    
}
.mainintro
{
    color: rgba(255, 255, 255, 0.637);
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 5.0rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.mainintro :hover{
    font-size: 9.0rem;
}

.socialhandles
{
    
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    position: absolute;
    top: 95%;
    left: 88%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 1.0rem;


}
a{
    padding: 0.5rem;
}
.about{
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.555);
    position: fixed;
    top: 90%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    
    
}
.aboutdata{
    color: rgb(255, 255, 255);
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 4.0rem;
    font-family: 'Poppins', sans-serif;
    width: 50%;
    text-align: center;
    font-weight: bolder;
    

}
.about :hover{
    font-size: 6.0rem;
}

a{
    text-decoration: none;
    color: white;
}
.bar
{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    /* width: 100%; */
    /* margin-right: -50%; */
    transform: translate(-50%, -50%);
    font-size: 3.0rem;
    width: 100%;
   
    
}
ul{  
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0.2rem;
    
}
li{
    /* display: flex; */
    flex-direction: column;
    padding-right: 24.0rem;
    padding-left: 24.0rem;
    text-align: center;
    
}
.active :hover
{
font-size: 6.0rem;
}
.active
{
 
    font-weight:bold;  
}

.socialhandles :hover{
    font-size: 2.0rem;
    font-weight:bold;  
}
@media(max-width:998px){
   html {
        font-size: 55%;
    }
    ul{  
       display: block !important;
        list-style-type: none;
        justify-content: center;
        padding: 0.2rem;
    }
    .socialhandles
    {
        
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        position: absolute;
        top: 95%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 1.0rem;


    }
    

   
}
@media(max-width:768px){
    html {
         font-size: 45%;
     }
     ul{  
        display: block !important;
         list-style-type: none;
         justify-content: center;
         padding: 0.2rem;
     }
     .socialhandles
    {
        
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        position: absolute;
        top: 95%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 1.0rem;


    }
   
 }