
/* @media only screen and (min-width: 1400px) {

    .App{
   
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    
   
    }
   
     
   } */